version: '{branch}-{build}'
build: off
cache:
  - '%LOCALAPPDATA%\pip\Cache'
environment:
  global:
    WITH_COMPILER: 'cmd /E:ON /V:ON /C .\ci\appveyor-with-compiler.cmd'
{%- if cookiecutter.c_extension_test_pypi == 'yes' %}
    TWINE_USERNAME: '{{ cookiecutter.c_extension_test_pypi_username }}'
    TWINE_PASSWORD:
      secure: '{{ cookiecutter.c_extension_test_pypi_appveyor_secret }}'
{%- endif %}
{%- if cookiecutter.coveralls == 'yes' %}
    COVERALLS_REPO_TOKEN:
      secure: '{{ cookiecutter.coveralls_token }}'
{%- endif %}
  matrix:Fix aasdasdasd
    - TOXENV: check
      TOXPYTHON: C:\Python36\python.exe
      PYTHON_HOME: C:\Python36
      PYTHON_VERSION: '3.6'
      PYTHON_ARCH: '32'
{% if cookiecutter.test_matrix_configurator == "yes" -%}
{{ "{% for env, config in tox_environments|dictsort %}" }}
{%- else -%}
{{ "{% for env in tox_environments %}" }}
{%- endif %}
{{ "{% if env.startswith(('py2', 'py3')) %}" }}
{%- for arch in ['32', '64'] %}
    - TOXENV: {{ "'{{ env }}" }}
        {%- if cookiecutter.test_matrix_separate_coverage == "yes" -%}
            {%- if cookiecutter.test_matrix_configurator == "yes" -%}
                {{ "{% if config.cover %}" }}
            {%- else -%}
                {{ "{% if env.endswith('-cover') %}" }}
            {%- endif -%}
        {%- endif -%}
        {%- if cookiecutter.coveralls == 'yes' %},coveralls{% endif -%}
        {%- if cookiecutter.codecov == 'yes' %},codecov{% endif %}
        {%- if cookiecutter.test_matrix_separate_coverage == "yes" -%}
            {{ "{% endif %}" }}
        {%- endif %}{{ "'" }}
      TOXPYTHON: C:\Python{{ "{{ env[2:4] }}" }}{{ '' if arch == '32' else '-x64' }}\python.exe
      PYTHON_HOME: C:\Python{{ "{{ env[2:4] }}" }}{{ '' if arch == '32' else '-x64' }}
      PYTHON_VERSION: {{ "'{{ env[2] }}.{{ env[3] }}'"}}
      PYTHON_ARCH: '{{ arch }}'
{{ "{% if env.startswith(('py2', 'py34')) %}" }}
      WINDOWS_SDK_VERSION: {{ "v7.{{ '1' if env.startswith('py3') else '0' }}" }}
{{ "{% endif %}" }}
{%- endfor %}
{{ "{% endif %}{% endfor %}" }}
init:
  - ps: echo $env:TOXENV
  - ps: ls C:\Python*
install:
  - python -u ci\appveyor-bootstrap.py
  - '%PYTHON_HOME%\Scripts\virtualenv --version'
  - '%PYTHON_HOME%\Scripts\easy_install --version'
  - '%PYTHON_HOME%\Scripts\pip --version'
  - '%PYTHON_HOME%\Scripts\tox --version'
test_script:
  - '%WITH_COMPILER% %PYTHON_HOME%\Scripts\tox'
{% if cookiecutter.c_extension_support != 'no' %}
after_test:
  - IF "%TOXENV:~-6,6%" == "-nocov" %WITH_COMPILER% %TOXPYTHON% setup.py bdist_wheel
{% endif %}
on_failure:
  - ps: dir "env:"
  - ps: get-content .tox\*\log\*
artifacts:
  - path: dist\*

### To enable remote debugging uncomment this (also, see: http://www.appveyor.com/docs/how-to/rdp-to-build-worker):
# on_finish:
#   - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
