[paths]
{%- if cookiecutter.test_matrix_separate_coverage == 'yes' %}
source = src
{%- else %}
source =
   src
   */site-packages
{%- endif %}

[run]
branch = true
{%- if cookiecutter.test_matrix_separate_coverage == 'yes' %}
source =
    src
    tests
{%- else %}
source =
    {{ cookiecutter.package_name }}
    tests
{%- endif %}
parallel = true
{%- if cookiecutter.c_extension_support == 'cython' and cookiecutter.test_matrix_separate_coverage == 'no' %}
plugins = Cython.Coverage
{%- endif %}

[report]
show_missing = true
precision = 2
omit = *migrations*
