*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
.eggs
.installed.cfg
bin
build
develop-eggs
dist
eggs
lib
lib64
parts
pyvenv*/
sdist
var
venv*/
wheelhouse

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.coverage.*
.tox
coverage.xml
htmlcov
nosetests.xml

# Translations
*.mo

# Mr Developer
*.iml
*.komodoproject
.idea
.mr.developer.cfg
.project
.pydevproject

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build

.DS_Store
*~
*.bak
.*.sw[po]
.appveyor.token
.bootstrap
.build
.cache
.env
.pytest
.ve
