graft docs
graft src
graft ci
graft tests

include .bumpversion.cfg
include .coveragerc
include .cookiecutterrc
include .editorconfig

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst
{%- if cookiecutter.c_extension_support == 'cffi' or cookiecutter.setup_py_uses_setuptools_scm == 'yes' %}
include pyproject.toml
{%- endif %}

include tox.ini .travis.yml .appveyor.yml{% if cookiecutter.sphinx_docs == 'yes' and 'readthedocs' in cookiecutter.sphinx_docs_hosting %} .readthedocs.yml{% endif %}{% if cookiecutter.pre_commit == "yes" %} .pre-commit-config.yaml{% endif %}
{% if 'gitlab' in cookiecutter.repo_hosting_domain -%}
include .gitlab-ci.yml
include conda.recipe/meta.yaml
include .dockerignore
include dockerfiles/test.Dockerfile dockerfiles/slim.Dockerfile dockerfiles/before_script.sh
{%- endif %}

global-exclude *.py[cod] __pycache__/* *.so *.dylib
