graft docs
graft src
graft ci
graft tests

include .bumpversion.cfg
include .coveragerc
include .cookiecutterrc
include .editorconfig

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst
include pyproject.toml

include tox.ini .travis.yml .appveyor.yml
{% if 'gitlab' in cookiecutter.repo_hosting_domain -%}
include .gitlab-ci.yml
include meta.yaml
{%- endif %}

global-exclude *.py[cod] __pycache__/* *.so *.dylib
